.jumbotron#title {
  background-color: #f9e79f;
  margin-bottom: 0;
}

.jumbotron#no-margin {
  background-color: #f5b041;
  margin-top: 0;
  margin-bottom: 0;
}

.container-fluid#info-container {
  margin-top: 100px;
  margin-left: 100px
}

hr {
  border-width: medium;
  border-color: rgba(0, 0, 0, 1);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

#info-box {
  background-color: rgba(214, 234, 248, 0.5);
}

#specialButton {
  color: black;
  background-color: #f39c12;
  margin-bottom: 10px;
  border-color: #e17100;
  outline-color: #e17100;
}

#sidebar {
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.border {
  border: 3px black solid;
}

.fullStretch {
  padding: 0px;
  margin-left: -100%;
  margin-right: -100%;
}

.header1 {
  background-color: #c0c0c0;
}

.alignLeft {
  float: left;
}

#container h3{
    position:absolute;
    bottom:0;
    left:0;
}
.alignRight {
  float: right;
}

.col-fixed-240 {
  width: 240px;
  background: red;
}

.col-fixed-160 {
  margin-left: 240px;
  width: 160px;
  background: blue;
  position: fixed;
}

.center-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
