<div id="dinnerPreparation">
  <!-- Second bar -->
  <hr>
  <div class="jumbotron" id="no-margin">
    <div class="modal-body row">
      <div class="col-md-6">
        <h2 style="margin-top:0">My Dinner: {{getNumberOfGuests()}} people</h2>
      </div>
      <div class="col-md-6">
        <a ng-href="#/dinnerOverview">
          <button type="button" class="btn btn-default btn-lg" style="float:right">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
          </button>
        </a>
      </div>
    </div>
  </div>
  <hr>

  <!-- Dishes -->
  <div id="preparationContainer">
    <div ng-repeat="dish in fullMenu" class="row">
      <div class="col-md-2 col-sm-2 center-content">
        <img src="{{dish.image}}" class="img-responsive center-block border">
      </div>
      <div class="col-md-5 col-sm-5">
        <h1>{{dish.name}}</h1>
        <p>{{dish.description}}</p>
      </div>
      <div class="col-md-5 col-sm-5">
        <h2>Preparation</h2>
        <p>{{dish.preparation}}</p>
      </div>
    </div>
  </div>

</div>
