
<div id="dinnerOverview">
  <!-- Second bar -->
  <hr>
  <div class="jumbotron" id="no-margin">
    <div class="modal-body row">
      <div class="col-md-6">
        <h2 style="margin-top:0">My Dinner: <span id="numberOfGuests"></span> people</h2>
      </div>
      <div class="col-md-6">
        <a ng-href="#/search">
          <button type="button" class="btn btn-default btn-lg" style="float:right">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
          </button>
        </a>
      </div>
    </div>
  </div>
  <hr>

  <!-- Courses  -->
  <div class="row text-center" id="coursesRow" style="margin-top: 20px;text-align:center">
    <div id="extraCol" class="col-md-{{extraCols}} col-sm-{{extraCols}} frame"></div>

    <div ng-repeat="dish in fullMenu" class="col-md-2 col-sm-2 frame noHilight">
      <div class="thumbnail">
        {{dish.image}}
        <img class="foodImage" src="dish.image">
        <div class="caption">
          <h3>{{dish.name}}</h3>
          <h3>Price: {{dishPrice(dish.id)}} SEK</h3>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-2 frame noHilight">
      <h3>Total: {{menuPrice}} SEK</h3>
    </div>
  </div>

  <div class="row">
    <hr class="padding">
    <div class="col-md-12 text-center">
      <a ng-href="#/dinnerPreparation">
        <button type="button" class="btn btn-default btn-lg" id="specialButton">
          <font size="4"> Print Full Recipe </font>
        </button>
      </a>
    </div>
  </div>

</div>
