
<div id="dinnerOverview">
  <!-- Second bar -->
  <hr>
  <div class="jumbotron" id="no-margin">
    <div class="modal-body row">
      <div class="col-md-6">
        <h2 style="margin-top:0">My Dinner: <span id="numberOfGuests"></span> people</h2>
      </div>
      <div class="col-md-6">
        <button id="backButton" type="button" class="btn btn-default btn-lg" style="float:right">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
          </button>
      </div>
    </div>
  </div>
  <hr>

  <!-- Courses  -->
  <div class="row text-center" id="coursesRow" style="margin-top: 20px;text-align:center">
    
  </div>

  <div class="row">
    <hr class="padding">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-default btn-lg" id="specialButton"><font size="4"> Print Full Recipe </font></button>
    </div>
  </div>

</div>
