<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
<div class="col-md-2 border" id="sidebar">
  <h2>My Dinner</h2>
  <p>Number Of Guests: <span id="nrGuests"> {{getNumberOfGuests()}} </span>
    <div>
      <button ng-click="decreaseGuests()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
      <button ng-click="incrementGuests()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </p>
  <div class="row header1">
    <div class="col-md-12">
      <p class="alignLeft noMargin">Dish Name</p>
      <p class="alignRight noMargin">Cost</p>
    </div>
  </div>

  <!--This is filled with dishes via the view-->
  <!--Note: not allowed to use getSelectedDishes(), error when dish is removed-->
  <div ng-repeat="dish in selectedDishes" class="well margin">
    <div class="row">
      <div class="col-md-8">{{dish.title}}</div>
      <div class="col-md-4">{{dish.pricePerServing}} /each
        <!--Button is only visible when we have it inside this col. Don't know why-->
        <button ng-click="removeDishFromMenu(dish)" class="btn btn-danger circle" type="button">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row topMargin">
    <div class=" col-md-12">
      <p class="alignLeft">Pending</p>
      <p class="alignRight">{{getTotalMenuPrice() | number: 1}}</p>
    </div>
  </div>
  <hr>
  <div class="row topMargin">
    <div class="col-md-12 ">
      <p class="alignRight">SEK {{getTotalMenuPrice() | number: 1}}</p>
    </div>
  </div>
  <a ng-href="#/dinnerOverview">
    <button  type="button" class="btn btn-primary btn-block specialButton">Confirm Dinner</button>
  </a>
</div>


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace
this with Total price of the menu -->
<!--Total number of guest: {{getNumberOfGuests()}}-->
