

<div id="startView" class="container-fluid home-product">
  <div class="modal-body row">
    <div class="col-md-3" id="info-box">
      <h1 style="center">A home dinner service</h1>
      <hr style="margin-top:10px;margin-bottom:10px"></hr>
      <p>Some text.... blalblalblalblalblalbalbabla</p>
      <a href="#/search">
        <button  type="button" id="newDinnerButton" class="btn specialButton">
          Create New Dinner
        </button>
      </a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
