<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->

<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!--Right column with info and stuff (View 3)-->
<div class="col-md-10" id="selectDishesView">
  <div class="row borderTBR" id="mainHeader">
    <div class="col-md-12">
      <h2 id="titleThing">Select dish</h2>
      <hr>
      <!--Search input, new row otherwise i couldn't select the text input-->
      <div class="row topMargin">
        <div class=" col-md-5 ">
          <div class="input-group ">
            <input ng-model="query" class="form-control" id="searchDishInput">
            <span class="input-group-btn ">
              <button ng-click="search(query,type)" type="button" class="btn btn-primary specialButton" id="searchDishButton">
            <span class="glyphicon glyphicon-search "></span> Search
            </button>
            </span>
          </div>
        </div>

        <!--Dish type drop down-->
        <div class="col-md-2">
          <select class="specialButton" ng-model="type" name="dishType" ng-change="search(query, type)">
            <option value="starter">Starter</option>
            <option value="main dish">Main</option>
            <option value="dessert">Dessert</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!--Grid layout with dishes and scroll functionality when overflow-->
  <div class="row outerFrame">

    <div id="loading" class="loader"></div>

    <div id="dishNotFound" style="text-align:center; display:none">
      <h1> Could not find the dish!</h1>
    </div>

    <div class="col-md-12" id="listWithDishes" >
      <!--Meals-->
      <ul>
        <li ng-repeat="dish in dishes">
        <img ng-src="https://spoonacular.com/recipeImages/{{dish.image}}"/>
        {{dish.title}}
        <a ng-href="#!/dish/{{dish.id}}">View more</a>
        Dish ready in {{dish.readyInMinutes}} minutes
        </li>
      </ul>

    </div>
    <!--Dishes end-->
  </div>
</div>
